.transactions-container {
    .banner {
border-radius: 20px;
    margin-bottom: 2rem;
    padding: 3.3rem 2.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("/assets/images/opportunities BG.png");
    background-repeat: no-repeat;
    background-size: cover;

        h1 {
            font-size: 24px;
            color: #FFFFFF;
        }

        h4 {
            font-weight: 400;
            font-size: 16px;
            color: #FFFFFF;
            opacity: 0.75;
        }
    }

    .status {
        width: 98px;
        height: 30px;
        text-align: center;
        border-radius: 50px;
        font-weight: 500;
        font-size: 12px;
        display: flex;
            align-items: center;
            justify-content: center;
            
                margin-bottom: 0px;
    

    }

    .active-status {
        background: rgba(23, 184, 144, 0.1);
        color: #17B890;
    }

    .closed-status {
        background: rgba(138, 133, 149, 0.1);
        color: #8A8595;
    }

    .coming-status {
        background: rgba(239, 139, 80, 0.1);

        color: #EF8B50;
    }
}