.appRadioGroup {
    display: flex;
    // align-items: center;
    // justify-content: space-between;
    margin-top: 10px;
    .appRadioBtn {
        border: 1px solid #DCDDE5;
        border-radius: 43px;
       width: 145px;
        height: 55px;
        font-weight: 600;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: transparent;
        color: #151515;
        margin-right: 10px;
        &::before {
            display: none;
        }
    }
    :where(.css-dev-only-do-not-override-2cufig).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
        border-color: #4B5563;
    }
    .ant-radio-button-wrapper-checked {
        background: #5B2CD3;
        color: #FFFFFF;
        border: 1px solid #5B2CD3;
        outline: none;
        box-shadow: none;

        &:hover {
            border-color: #5B2CD3;
            color: #FFFFFF;
        }
    }
}