.appRadioGroup {
    display: flex;
    align-items: center;
        justify-content: space-between;
    margin-top: 10px;

    .appRadioBtn {
        border: 1px solid #DCDDE5;
        border-radius: 58px;
        height: 48px;
        width: 167px;
        font-weight: 500;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: transparent;
        color: #151515;
        &::before {
            display: none;
        }
    }

    :where(.css-dev-only-do-not-override-2cufig).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
        border-color: #4B5563;
    }
      
    .ant-radio-button-wrapper-checked {
        background: #4B5563;
        color: #FFFFFF;
        border: 1px solid #4B5563;
        outline: none;
        box-shadow: none;
        &:hover{
            border-color: #4B5563;
            color: #FFFFFF;
        }
    }
}