

@mixin signUp-heading {
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #171717;
}

.signUp-container {
    .close-icon {
        position: absolute;
        top: 47px;
        right: 67px;
    }

    .start-icon {
        padding-top: 94px;
        margin-bottom: 41px;
    }

    h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 25px;
        color: #140A2B;
        margin-bottom: 47px;
    }
    .copy-right{
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 30px;
        font-size: 12px;
        font-weight: 500;
            line-height: 20px;
            color: #140A2B;
            left: 50%;
                transform: translateX(-50%);
    }
}

.signUp-form-container {
    margin:0 auto;
    width: 345px;
    .absher-description{
    display: flex;
    align-items: flex-start;
    margin-top: 38px;
    img{
        margin-right: 17px;
    }
    }
    .singUp-back-btn {
        background: rgba(191, 212, 228, 0.25);
        border-radius: 42px;
        width: 79px;
        height: 36px;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        letter-spacing: -0.03em;
        color: #333333;
        display: flex;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        svg {
            margin-right: 8px;
        }
                  &:hover,
                  &:active,
                  &:focus,
                  &:focus-visible {
                      box-shadow: none !important;
                      color: #333333 !important;
                      outline: none !important;
                  }
    }

    h1 {
        @include signUp-heading;
        margin-bottom: 29px;
        line-height: 29px;
    }

    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #000000;

    }



    .form-bottom {
        margin-top: 23px;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        color: #333333;
        &:hover{
            cursor: pointer;
        }
    }

        .form-bottom-password {
            margin-top: 23px;
            font-weight: 500;
            font-size: 12px;
            text-align: center;
            color: #333333;
            margin-bottom: 80px;
        }

    .phone-item {
        margin-top: 47px;
    }

    .terms-radio {
        margin-top: 15px;
        .terms {
            font-weight: 500;
            font-size: 12px;
            line-height: 19px;

            color: #140A2B;

            a {
                color: #5B2CD3;
                text-decoration: underline;
            }
        }
    }



    .title{
        font-weight: 500;
            font-size: 16px;        
            color: #8A8595;
            margin-top: 24px;
            margin-bottom: 10px;
    }
    h2{
font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: #140A2B;
    margin-bottom: 0;
    }
                .timer {
                    font-weight: 500;
                    font-size: 14px;
                    text-align: center;
                    color: #ED615C;
                    margin: 18px 0;
                    span{
                            color: #8A8595;
                    }
        
                }
    .otp-description{
font-weight: 500;
    font-size: 14px;
    margin-top: 38px;
    margin-bottom: 20px;
  
    color: #8A8595;
    }
    .password-validations{
            padding-left: 20px;
        p{
            font-weight: 500;
                font-size: 10px;            
                margin-bottom: 10px;
                display: flex;
                align-items: flex-start;
            svg{
                width: 15px;
                    height: 15px;
                    margin-right: 8px;
            }
        }
    }

}