.ant-modal-close {
    top: 27px !important;
    right: 34px !important;
}

.ant-modal-body {
    background: #ffffff;
    border-radius: 20px;
    padding: 20px !important;
}

.ant-modal {
    padding: 81px 47px 67px 47px !important;
    background: #140A2B;
    border-radius: 40px;
}
.ant-modal-content {
    position: unset !important;
    background: transparent !important;
    padding: 0px !important;
}

.ant-modal-close-x {
    // display: none !important;
}
.deactivate-modal {
    .icon{
        margin-top: 53px;
            display: flex;
        
                justify-content: center;
    }
    h2 {
        font-weight: 700;
        font-size: 14px;
        color: #140A2B;
        margin-bottom: 20px;
        margin-top: 52px;
    }
    h1{
        text-align: center;
        margin-top: 44px;
        margin-bottom: 0px;
    font-weight: 700;
    font-size: 18px;
    }
    .deactivate-otp-container {
        width: 216.52px;
        input {
            width: 45px !important;
            height: 45px !important;
        }
    }
    .timer {
        font-weight: 500;
        font-size: 14px;

        color: #ed615c;
        margin: 15px 0 0 0;

        span {
            color: #8a8595;
        }
    }
    .confirm-deactivate-btn {
        margin-top: 63px;
        background: #ED615C;
        border-radius: 113px;
        height: 52px;
    }
    .cancel {
        margin-top: 20px;
        //  font-weight: 400;
        font-size: 12px;
        text-align: center;
        color: #8A8595;
        cursor: pointer;
    }
}