.ant-modal-close {
    top: 27px !important;
    right: 34px !important;
}

.ant-modal-body {
    background: #140A2B;
    border-radius: 20px;
    // margin-top: 37px;
    padding: 20px !important;
}

.ant-modal {
    // padding: 27px 47px 65px 47px !important;
    background: #140A2B;
    border-radius: 40px;
}

.ant-modal-content {
    position: unset !important;
    background: transparent !important;
    padding: 0px !important;
}
.ant-modal-close-x{
    display: none !important;
}