.label {
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 29px;
    top: 17px;
    z-index: 100;
    transition: 0.2s ease all;
    font-weight: 400;
    font-size: 14px !important;
    color: #8A8595;

    &::after {
        content: '*';
        color: #F63E50;
    }
}

.as-placeholder {
    color: #C6C6C6;

}

.as-label {
    left: 10px;
    top: 12px;
    padding: 0 4px;
    margin-left: 14px;
    font-weight: 600;
    font-size: 9px !important;
    text-transform: capitalize;
    color: #C6C6C6;
}
.register-input-container{
            position: relative;
.drawer-input-register {
        background: #FFFFFF;
        border: 1px solid #DCDDE5;
        border-radius: 95px;
        height: 55px;
        width: 653px;
        padding-left: 28px !important;
        padding-top: 15px !important;      
    }
          .checkBtn {
        position: absolute;
            top: 8px;
            right: 25px;
            width: 89px;
              height: 38px;
              background: #5B2CD3;
              border-radius: 51px;
            font-weight: 400;
                font-size: 12px;
                color: #FFFFFF;
                cursor: pointer;
                z-index: 2;
          }
}


.drawer-input-one {
    margin-right: 10px;
    background: #FFFFFF;
    border: 1px solid #DCDDE5;
    border-radius: 95px;
    height: 55px;
    width: 322px;
    padding-left: 28px !important;
    padding-top: 15px !important;

    &:hover {
        border: 1px solid #DCDDE5 !important;
    }

    &:focus,
    &:active {
        box-shadow: none !important;
    }

    .ant-input-prefix {
        padding-left: 10px;
    }

    .ant-input {
        background: #FFFFFF;
        font-weight: 600;
        font-size: 14px;
        color: #171717;
    }

    .ant-input-password-icon {
        padding-right: 10px;
    }

}

.drawer-input-two {
    margin-right: 10px;
    background: rgba(196, 193, 202, 0.25);
    border: 1px solid #DCDDE5;
    border-radius: 95px;
    height: 55px;
    width: 322px;
    padding-left: 28px !important;
    padding-top: 13px !important;

    &:hover {
        border: 1px solid #DCDDE5 !important;
    }

    &:focus,
    &:active {
        box-shadow: none !important;
    }

    .ant-input-prefix {
        padding-left: 10px;
    }

    // .ant-input {
    //     background: #FFFFFF;
    //     font-weight: 600;
    //     font-size: 14px;
    //     color: #171717;


    // }

    .ant-input-password-icon {
        padding-right: 10px;
    }

}