.greeting-container {
    display: flex;
    align-items: center;
    .ant-avatar {
            background: linear-gradient(white, white) padding-box, linear-gradient(to right, #2B48F4, #34A5FF) border-box;
            border-radius: 50em;
            border: 4px solid transparent;
            width: 48px;
            height: 48px;
        }

    .role {
        border-radius: 38px;
    // background-color: #e7e7e7;
    background: linear-gradient(to right, #edf6fe, #ededfc) border-box;
   width: 105px;
    padding: 6px;
    display: flex;
    justify-content: center;
        span {
            font-weight: 500;
            font-size: 10px;
            background: linear-gradient(270deg, #2B48F4 0%, #34A5FF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
                
        }
    }

    h1 {
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 0.02em;
        color: #140A2B;
        margin: 7px 0;
        display: flex;
        align-items: center;
        svg{
         margin-left: 10px;

        }
    }

    p {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.045em;
        color: #8A8595;
        margin: 0px;
    }

}

.greetingO{
        .ant-avatar {
                background: linear-gradient(white, white) padding-box, linear-gradient(to right, #D87C5D 0%,
                    #DC596B 42.55%,
                    #8A86AB 77.97%,
                    #6EB4DA 100%) border-box;
            
            }
.role {
        background: linear-gradient(to right, rgb(236,239,243), rgb(243,235,233)) border-box;
        span {
      background: linear-gradient(270deg, #DC3D37 0%, #EF8B50 100%) !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        }
    }
}